@model ReportsListViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="container mb-3 text-center">
        <h1>Your reports</h1>
        <h6>For @Model.CurrentDepartment in @Model.CurrentFacultie</h6>
    </div>

    <div>
        <a>Find for</a>

        @Html.DropDownListFor(e => e.SelectedFaculties.Value, ViewBag.Faculties as IEnumerable<SelectListItem>)
        @Html.DropDownListFor(e => e.SelectedDepatrments.Value, ViewBag.Depatrments as IEnumerable<SelectListItem>)
    </div>

    <div class="container row">
        @foreach (var report in Model.Reports)
        {
            <div class="card mb-5 card-columns" style="width: 340px; margin:10px;">
                <div class="card-body bg-light border-dark">
                    <div class="card-title">
                        <h5>
                            <a>@report.Title</a>
                            <div class="float-lg-right">
                                <a class="btn-link float-right">
                                    @Html.ActionLink("Download", "GetFile", new { reportModel = report })
                                </a>
                            </div>
                        </h5>
                    </div>
                    <text class="card-text">@report.Report.Substring(0,500)...</text>
                </div>
            </div>
        }
    </div>
</div>