@model ReportsListViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<h1>@Model.CurrentFacultie</h1>
<h2>@Model.CurrentDepartment</h2>
@foreach(var report in Model.Reports)
{
    <div>
        <h3>
            <a>@report.Title</a>
        </h3>
        <text>
            @report.Report
        </text>
        <a>@Html.ActionLink("GetFile","GetFile", new { reportModel = report })</a>
    </div>
}